.home-div {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    background-image:  linear-gradient(#040404ab, #00000038), url('./assets/home-bg-6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

  
      height: 100vh;
}

@media only screen and (max-width: 600px) {
  .home-search{
   
   width: 80px;
}


  .home-search input{
  
    width: 80px;
    height: 40px;
  }
  }

@media only screen and (min-width: 600px) {

  .home-search input{
  
    width: 200px;
    height: 50px;
  }
  }

@media only screen and (max-width: 733px) {

  .home-search input{
  
    width: 200px;
    height: 50px;
  }
  }

@media only screen and (min-width: 1070px) {

.home-search input{

  width: 300px;
  height: 50px;
}
}

@media only screen and (min-width: 1071px) {
  .home-search{
    width: 450px;
    height: 50px;
}
.home-search input{

  width: 450px;
  height: 50px;
}


}

.home-search{
   
    border-radius: 50px;
    
    padding: 20px;
    background-color: white;
}

.home-search input{
  border: none;
  border-color: rgba(255, 255, 255, 0);
  padding: 6px;
  font-size: 16px;
}

.home-search input:focus{
  outline: none;
}


.weather-search{
   height: 10px;
  border-radius: 50px;
  
  padding: 10px;
  background-color: rgb(226, 226, 226);
}

.weather-search input{
  height: 10px;

border: none;
border-color: rgba(255, 255, 255, 0);
padding: 6px;
font-size: 16px;
}

.weather-search input:focus{
outline: none;
}